body {
    background: linear-gradient(45deg, rgba(21, 45, 64, 0.76), rgba(34, 50, 58, 0.52)), url('/img/bg.jpg');
    background-size: cover;
    height: 100vh;
}

.panel-container {
    margin-top: 30vh;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.5);
}

.larger-panel {
    padding: 35px;
    border-bottom: none;
    border-radius: 4px 4px 0 0; /* top left, top right, bottom right, bottom left */
    font-size: 1.5em;
    color: #0A598F;
}

.panel-buttons{
    display:flex;
}

.panel-button {
    background: white;
    display:block;
    width: 20%;
    border-top: 1px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    border-right: none;
 }

.panel-button.active {
    background-color: #dddddd;
    color: white;
    box-shadow: inset 0 3px 8px #8e8e90;
}

.panel-button > i {
    font-size: 2em;
    color: #0A598F;
}

.panel-button:hover:not(.active) {
    background: #efefef;
    transition: .3s;
 }

.panel {
    margin-bottom: 0;
}

h2 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.3em;
    color: #076EC7;
}

.fa {
    margin-left: 10px;
    margin-top: 10px; 
}
   
.panel-button:last-child {
    border-radius: 0 0 4px 0;  
    border-right: 1px solid #ccc;
}

.panel-button:first-child {
    border-radius: 0 0 0 4px;  
}
   